@use 'sass:color';

// Import font Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Font-size define
$fontSize: (
  xxs: 0.70rem,
  xs: 0.80rem,
  s: 1rem,
  sm: 1.5rem,
  m: 2rem,
  l: 2.5rem,
);

// font weight
$fontWeight : (100, 200, 300, 400, 500, 600, 700, 800, 900);

// Color scheme
$colors : (

  'light1' : #F5F7FA,
  'primary0' :  #293951,
  'primary1' :  #CEDAE9,
  'primary2' :  #E9EDF5,
  'primary3' :  #A3B9D6,
  'error0' : #ffdfdf,
  'error1' : #A51313,
  'succes0' : #EAF5E9,
  'succes1' : #D7E9CE,
  'text' : #293951,

);

// font scheme
$fontPrimary : "Syne", sans-serif;
$fontSecondary :  "Roboto", sans-serif;

// Typographie
$typographies: (
  h1 : (
    font-size: map-get($fontSize,l),
    font-family: $fontPrimary,
    font-weight: 400,
    font-style: normal,
    text-decoration: none,
    text-transform: none,
  ),
  h2: (
    font-size: map-get($fontSize,m),
    font-family: $fontPrimary,
    font-weight: 400,
    font-style: normal,
    text-decoration: none,
    text-transform: none
  ),
  text: (
    font-size: map-get($fontSize,s),
    font-family: $fontSecondary,
    font-weight: 500,
    font-style: normal,
    text-decoration: none,
    text-transform: none
  ),
  textBold: (
    font-size: map-get($fontSize,s),
    font-family: $fontSecondary,
    font-weight: 700,
    font-style: normal,
    text-decoration: none,
    text-transform: none
  ),
  textLight: (
    font-size: map-get($fontSize,s),
    font-family: $fontSecondary,
    font-weight: 300,
    font-style: normal,
    text-decoration: none,
    text-transform: none
  ),
  textButton: (
    font-size: map-get($fontSize,s),
    font-family: $fontPrimary,
    font-weight: 400,
    font-style: normal,
    text-decoration: none,
  )
);

// Divers effects
$effects : ();

// Button
$interaction : (
  button-primary : map-merge(
    map-get($typographies, textButton),
    (
       border-radius: 0.25rem,
       border: 1px solid map-get($colors,primary0),
       background: map-get($colors,primary0),
       padding : 0.6rem 1.6rem,
       color : map-get($colors,light1),
       cursor : pointer,
       transition : .2s ease-in-out all,
       hover : (
          background : map-get($colors,light1),
          color : map-get($colors,primary0),

       )
    )
  ),
  button-secondary : map-merge(
    map-get($typographies, textButton),
    (
      border-radius: 0.25rem,
      border: 1px solid map-get($colors,primary0),
      background: map-get($colors,primary2),
      padding : 0.6rem 1.6rem,
      color : map-get($colors,primary0),
      cursor : pointer,
      transition : .2s ease-in-out all,
      hover : (
        background : map-get($colors,primary0),
        color : map-get($colors,light1),
      )
    )
  ),
  button-clear : map-merge(
    map-get($typographies, textButton),
      (
        border-radius: 0,
        border: none,
        background: transparent,
        padding : 0,
        color : map-get($colors,primary0),
        cursor : pointer,
      )
    ),
  input : (
    border-radius : 0.25rem,
    border: 1px solid map-get($colors,primary0),
    background: map-get($colors,light1),
    padding : .5rem,
    width : 100%,
    focus : (
      outline : 1px solid map-get($colors,primary0)
    )
  )
);

